/*COLORES*/
$blanco:#fff;
$negro:#000;
$turquesa:#28b5b5;
$verde:#8fd9a8;
$beige:#d2e69c;
$detalles:#4b778d;
/*MEDIAQUERIES*/
$telefono:480px;
$tablet:768px;
$escritorio:1200px;

/*FUENTES*/
$fuentePrincipal: "Open Sans", sans-serif;
$delgada:300;
$semiDelgada:600;
$gruesa:800;
/*SEPARACIONES*/
$padding5: 5rem;