footer{
    width: 100%;
    background-color: $turquesa;
    padding: 0;
    p{
        font-weight: $semiDelgada;
        padding: $padding5 / 2;
        text-align: center;
        font: 2rem;
        color: $blanco;
    }
}